@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #1f2029;
    background-color: #ececee;
    overflow: hidden;
    background-image: url('img/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 1%; /* Move a imagem 1% para baixo */
    height: 100vh;
    width: 100%;
}

html, body {
  height: auto; /* Permite que o conteúdo cresça além da altura da janela */
  overflow-x: hidden; /* Evita scroll horizontal */
  overflow-y: auto; /* Permite scroll vertical */
}
.section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}

/* Estilo para alinhar "Sobre" e "Avisos" */
.about-section, .avisos-container, .cursos-section {
  display: flex; /* Flexbox para alinhamento */
  max-width: 1600px; /* Define uma largura máxima consistente */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 20px; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui padding na largura total */
}


/*titulo da pagina*/
.main-title {
  font-family: 'Montserrat', sans-serif; /* Fonte elegante */
  font-weight: 500; /* Peso da fonte para destaque */
  font-size: 10vw; /* Tamanho responsivo */
  text-align: center; /* Centraliza o texto */
  color: #ffeba7; /* Cor dourada */
  text-transform: uppercase; /* Letras maiúsculas */
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7), /* Sombra escura */
               0 0 20px rgba(255, 235, 167, 0.8); /* Brilho dourado */
  margin-top: 150px; /* Aumente o valor para mover mais para baixo */
  z-index: 10; /* Garante que fique acima de outros elementos */
  position: relative;
}

/*pagina sobre*/

.about-section {
  background-color: #ececee; /* Cor de fundo suave */
  padding: 50px 20px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
  color: #1f2029; /* Cor do texto */
  margin-top: 350px; /* Espaço acima da seção */
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(50px); /* Move para baixo */
  transition: all 0.8s ease; /* Transição suave */
  border-radius: 20px; /* Bordas arredondadas */
}

.about-section.visible {
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Move para a posição original */
}

#sobre:target {
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Move para a posição original */
}

.about-section .container {
  max-width: 500px; /* Limita a largura do conteúdo */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.about-section .section-title {
  font-family: 'Montserrat', sans-serif; /* Fonte elegante */
  font-weight: 700; /* Peso da fonte */
  font-size: 3vw; /* Tamanho responsivo */
  color: #b38e5d; /* Dourado escuro */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  text-transform: uppercase; /* Letras maiúsculas */
}

.about-section .section-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2rem; /* Tamanho do texto */
  line-height: 1.8; /* Espaçamento entre linhas */
  color: #1f2029; /* Cor do texto */
}





h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 7vw;
  line-height: 1;
  color: #ffeba7;
  text-align: center;
  -webkit-text-stroke: 2px #ffeba7;
  text-stroke: 2px #ffeba7;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  left: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10000; /* Garante que o ícone fique acima de tudo */
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*navbar*/
/* Estilo do menu de navegação */
.nav {
  position: fixed;
  top: 33px;
  left: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9999; /* Garante que o nav fique acima de tudo */
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #b38e5d; /* Dourado escuro */ 
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              left 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}




/* Seção Avisos */
.avisos-container {
  display: flex;
  flex-wrap: nowrap; /* Garante que os elementos fiquem lado a lado */
  height: 70vh; /* Define a altura da seção */
  align-items: stretch; /* Faz com que os elementos tenham a mesma altura */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  padding: 20px; /* Espaçamento interno */
  gap: 30px; /* Espaçamento entre os elementos */
}

.avisos, .imagem {
  flex: 1; /* Ambos ocupam o mesmo espaço */
  max-width: 50%; /* Limita a largura máxima a 50% */
  display: flex;
  flex-direction: column; /* Para alinhar o conteúdo interno */
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Fundo branco para avisos */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 20px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites */
}

.avisos h2 {
  font-size: 1.8rem;
  color: #b38e5d;
  margin-bottom: 15px;
  text-align: center;
}

.avisos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.avisos li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.imagem {
  background-color: #f4f4f4; /* Fundo cinza claro */
}

.imagem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Transição para as seções */
.about-section, .avisos-container {
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(50px); /* Move para baixo */
  transition: all 0.8s ease; /* Transição suave */
}

.about-section.visible, .avisos-container.visible {
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Move para a posição original */
}



/* Seção Cursos */
.cursos-section {
  padding: 50px 20px; /* Espaçamento interno */
  text-align: center; /* Centraliza o título */
  background-color: #ececee; /* Fundo suave */
  border-radius: 20px; /* Bordas arredondadas */
}

.cursos-section .container {
  max-width: 1200px; /* Define uma largura máxima para a seção */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.cursos-section .section-title {
  font-size: 2rem;
  color: #b38e5d; /* Dourado escuro */
  margin-bottom: 60px; /* Adiciona mais espaço abaixo do título */
}

.cursos-container {
  display: flex;
  justify-content: center; /* Centraliza os cursos horizontalmente */
  gap: 30px; /* Espaçamento entre os cursos */
  flex-wrap: wrap; /* Permite que os cursos quebrem linha em telas menores */
}

.curso {
  background-color: #fff; /* Fundo branco */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 20px;
  text-align: center;
  width: 300px; /* Aumenta a largura dos cursos */
  height: 400px; /* Aumenta a altura dos cursos */
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  justify-content: space-between; /* Distribui o conteúdo verticalmente */
}

.curso h3 {
  font-size: 1.5rem; /* Aumenta o tamanho do título do curso */
  color: #1f2029; /* Cor do texto */
  margin-bottom: 10px;
}

.curso-imagem {
  width: 100%;
  height: 250px; /* Aumenta a altura da imagem */
  background-color: #d3d3d3; /* Cor de fundo para o espaço reservado */
  border-radius: 10px; /* Bordas arredondadas */
  margin-bottom: 10px;
}

.curso p {
  font-size: 1.2rem; /* Aumenta o tamanho do texto */
  color: #1f2029; /* Cor do texto */
  margin: 0;
}




/* Atualizando a seção Doações para ser semelhante à seção Cursos */
.doacoes-section {
  padding: 50px 20px; /* Espaçamento interno */
  text-align: center; /* Centraliza o título */
  background-color: #ececee; /* Fundo suave */
  border-radius: 20px; /* Bordas arredondadas */
  margin: 40px auto 0; /* Adiciona margem superior para afastar da seção anterior */
  max-width: 1560px; /* Define uma largura máxima para a seção */
}

.doacoes-section .container {
  max-width: 1200px; /* Define uma largura máxima para a seção */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.doacoes-section .section-title {
  font-size: 2rem; /* Tamanho do título */
  color: #b38e5d; /* Dourado escuro */
  margin-bottom: 60px; /* Espaçamento abaixo do título */
}

.doacoes-container {
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  gap: 30px; /* Espaçamento entre os itens */
  flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */
}

.doacao {
  background-color: #fff; /* Fundo branco */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 20px;
  text-align: center;
  width: 300px; /* Largura fixa */
  height: 200px; /* Altura fixa */
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
}

.doacao h3 {
  font-size: 1.5rem; /* Tamanho do título */
  color: #1f2029; /* Cor do texto */
  margin-bottom: 10px;
}

.doacao p {
  font-size: 1.2rem; /* Tamanho do texto */
  color: #1f2029; /* Cor do texto */
  margin: 0;
}




/* Estilo para a seção do calendário */
.calendario-section {
  margin-top: 50px; /* Espaçamento acima do calendário */
  text-align: center; /* Centraliza o conteúdo */
  padding: 20px; /* Espaçamento interno */
  background-color: #fff; /* Fundo branco */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
  max-width: 800px; /* Largura máxima */
  margin-left: auto;
  margin-right: auto;
}

/* Estilo do calendário */
.calendario {
  width: 100%; /* Largura total */
  max-width: 600px; /* Largura máxima */
  margin: 0 auto; /* Centraliza o calendário */
  border: 1px solid #ccc; /* Borda ao redor */
  border-radius: 10px; /* Bordas arredondadas */
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.calendario-header {
  background-color: #4a90e2; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto */
  text-align: center;
  padding: 15px; /* Espaçamento interno */
  font-size: 1.5rem; /* Tamanho do texto */
  font-weight: bold;
}

table {
  width: 100%; /* Largura total */
  border-collapse: collapse; /* Remove espaços entre as células */
}

th, td {
  text-align: center;
  padding: 15px; /* Aumenta o tamanho das células */
  border: 1px solid #e0e0e0; /* Borda das células */
  font-size: 1.2rem; /* Tamanho do texto */
}

td:hover {
  background-color: #e6f2ff; /* Cor de fundo ao passar o mouse */
  cursor: pointer;
}

.dia-atual {
  background-color: #4a90e2; /* Cor de fundo do dia atual */
  color: white; /* Cor do texto */
  font-weight: bold;
  border-radius: 50%; /* Torna o dia atual circular */
}

.fim-de-semana {
  color: #888; /* Cor dos dias de fim de semana */
}






@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  z-index: 9999; /* Garante que o nav aberto fique acima de tudo */
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              left 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    left: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    left: 30px;
  }
  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #ffeba7;
    text-fill-color: #ffeba7;
    color: #ffeba7;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}